<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" *ngFor="let not of noticias">
    <div class="carousel-item active">
      <div class="card">
        <img class="d-block w-100" src="{{ not.img? not.img : 'assets/images/productosdefault.jpg' }}" alt="First slide">
        <div class=" h-25 text-white bg-dark bg-opacity-50 card-img-overlay  d-flex justify-content-center align-items">
          <div>
            <h5 class="card-title "> {{not.titulo}}</h5>
            <br>
            <h5 class="card-text "> {{not.texto}}</h5>
            <br>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div  class="carousel slide" data-ride="carousel">
 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " src="{{noticias[posicionActual].img? noticias[posicionActual].img : 'assets/images/productosdefault.jpg'}}" style="height: 300px;">
      <div class=" h-25 text-white bg-dark bg-opacity-50 card-img-overlay  d-flex justify-content-center align-items">
        <div>
          <h5 class="card-title "> {{noticias[posicionActual].titulo}}</h5>
          <br>
          <h5 class="card-text "> {{noticias[posicionActual].texto}}</h5>
          <br>
      </div>
      
    </div>
    
  </div>
  <a class="carousel-control-prev" role="button" data-slide="prev" (click)="retrocederFoto()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next"  role="button" data-slide="next" (click)="pasarFoto()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>