<div class="row justify-content-center">
    
    <div class="col-md-4 ">
        <div class="card-body col-auto my-1">
            <h5 class="card-title">Crear Producto</h5>
            <form  [formGroup]="formProducto" (submit)="crearProducto()">
                <div class="mb-3 mt-3">
                  <label for="nombre" class="form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Introduce nombre" name="nombre" formControlName="nombre">
                </div>
                <div class="mb-3">
                  <label for="descripcion" class="form-label">Descripcion:</label>
                  <input type="text" class="form-control" id="descripcion" placeholder="Introduce descripción" name="descripcion" formControlName="descripcion">
                </div>
                <div class="mb-3">
                  <label for="pvp" class="form-label">Precio:</label>
                  <input type="text" class="form-control" id="pvp" placeholder="Introduce precio" name="pvp" formControlName="pvp">
                </div>
                <div class="mb-3">
                  <label for="tipo" class="form-label"> Selecciona Tipo:</label>
                  <select class="custom-select mr-sm-2" id="tipo" name="tipo" name="tipo" formControlName="tipo" >
                    <option >Sin especificar</option>
                    <option >Dulces</option>
                    <option >Salado</option>
                    <option >Panes</option>
                    <option >Tartas</option> 
                  </select>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary " [disabled]="formProducto.invalid">Insertar</button>
                </div>
            </form>

              <div class="row">
                <button class="btn btn-primary  ml-auto" >Insertar imagen </button> 
              </div>    
          </div>
    </div>

    <div class="col-md-4 " *ngIf="mostrarEditar==true" >
      <div class="card-body">
          <h5 class="card-title">Editar Producto</h5>
          <form [formGroup]="formProducto" (submit)="editarProducto()">
              <div class="mb-3 mt-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Introduce nombre" name="nombre" formControlName="nombre">
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion:</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Introduce descripción" name="descripcion" formControlName="descripcion">
              </div>
              <div class="mb-3">
                <label for="pvp" class="form-label">Precio:</label>
                <input type="text" class="form-control" id="pvp" placeholder="Introduce precio" name="pvp" formControlName="pvp">
              </div>
              <div class="mb-3">
                <label for="tipo" class="form-label"> Selecciona Tipo:</label>
                <select class="custom-select mr-sm-2" id="tipo" name="tipo" name="tipo" formControlName="tipo" >
                  <option >Sin especificar</option>
                  <option >Dulces</option>
                  <option >Salado</option>
                  <option >Panes</option>
                  <option >Tartas</option> 

                </select>
              </div>
              <button type="submit" name="editar" class="btn btn-primary">Editar Producto</button>
              <button type="button" name="cancelar" class="btn btn-danger" (click)="mostrarEditar==false">Cancelar </button>
            </form>
               
        </div>
  </div>
   
    <div>
      <div class="d-flex justify-content-center text-center" >
        <div class="col-sm-8">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Contenido</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Id Usuario</th>
                        <th>Imagen</th>
                        
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let prod of productos">
                        
                        <td>{{prod.id}}</td>
                        <td>{{prod.nombre}}</td>
                        <td>{{prod.descripcion}}</td>
                        <td>{{prod.pvp}}</td>
                        <td>{{prod.tipo}}</td>
                        <td>{{prod.idUser}}</td>
                        <td><img class="img-fluid" src="assets\images\productosdefault.jpg" style="width:200px"></td>
                        <td>
                          <button name="eliminar" class="btn btn-danger" (click)="formProducto.patchValue(prod); borrarProductos()" >X</button>
                        </td>
                        <td><button name="editar" class="btn btn-warning"  (click)="mostrarEditar=true; formProducto.patchValue(prod)">Editar</button></td>
                        <td></td>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <!--
      <div class="card col-md-4">
        <h5 class="card-title">Muestra del producto</h5>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets\images\productosdefault.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start"/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{productoNuevo.nombre}}
                  </h5>
                  <p class="card-text">
                    {{productoNuevo.descripcion}}
                  </p>
                  <p class="card-text" *ngIf="productoNuevo.pvp>0">
                    {{productoNuevo.pvp}}€
                  </p>
                  <p class="card-text">
                    <small class="text-muted">{{productoNuevo.tipo}}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>

    </div>  
    -->

</div>
<div class="row justify-content-center">
    
    <div class=" col-md-4 ">
        <div class="card-body">
            <h5 class="card-title">Crear Noticia</h5>
            <form [formGroup]="formNoticia" (submit)="crearNoticia()">
                <div class="mb-3 mt-3">
                  <label for="titulo" class="form-label">Titulo:</label>
                  <input type="text" class="form-control" id="titulo" formControlName="titulo">
                </div>
                <div class="mb-3 mt-3">
                  <label for="texto" class="form-label">Texto:</label>
                  <input type="text" class="form-control" id="texto" formControlName="texto">
                </div>
                <div class="mb-3 mt-3">
                  <label for="fecha" class="form-label">Fecha:</label>
                  <input type="date" class="form-control" id="fecha"  formControlName="fecha">
                </div>
                <div class="row">
                  <button type="submit" class="btn btn-primary col-md-4"  >Insertar Noticia</button> 
                  
                </div>
              </form>
          </div>
    </div>
    <div>
      <div class="d-flex justify-content-center text-center" >
        <div class="col-sm-8">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Contenido</th>
                        <th>Fecha</th>
                        <th>Imagen</th>
                        
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let not of noticias">
                        
                        <td>{{not.id}}</td>
                        <td>{{not.titulo}}</td>
                        <td>{{not.texto}}</td>
                        <td>{{not.fecha}}</td>
                        <td><img class="img-fluid" src="assets\images\productosdefault.jpg" style="width:200px"></td>
                        <td>
                          <button name="eliminar" class="btn btn-danger" (click)="formProducto.patchValue(not); borrarProductos()" >X</button>
                        </td>
                        <td><button name="editar" class="btn btn-warning"  (click)="mostrarEditar=true; formProducto.patchValue(not)">Editar</button></td>
                        <td></td>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
   
    <!--
      <div class="card col-md-4 d-flex justify-content-center">
      <h5 class="card-title">Muestra de la notica</h5>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets\images\productosdefault.jpg" alt="Trendy Pants and Shoes"class="img-fluid rounded-start"/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{noticiaNueva.titulo}}</h5>
                  <p class="card-text">
                    {{noticiaNueva.texto}}
                  </p>
                  <p class="card-text">
                    <small class="text-muted">{{noticiaNueva.fecha}}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
    </div>      
    -->
    
          
        
    
</div>


